<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<context:property-placeholder location="classpath:application.properties" />

	<context:annotation-config />

	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:component-scan base-package="com.ojas.student.*" />
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
		<property name="driverClassName" value="${db.driver}" />
		<property name="url" value="${db.url}" />
	</bean>


	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitName" value="StudentInformation" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="true" />
				<property name="showSql" value="true" />
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="studentDao" class="com.ojas.student.dao.StudentInformationDaoImpl"></bean>
	<bean id="informationService" class="com.ojas.student.service.StudentInformationServiceImpl" />
	<bean id="mapper" class="com.fasterxml.jackson.databind.ObjectMapper"></bean>
	<bean id="accessTokenService" class="com.ojas.student.service.AccessTokenServiceImpl" />
	<bean id="accessTokenDao" class="com.ojas.student.dao.AccessTokenDaoImpl" />


	<bean id="employeeDao" class="com.ojas.student.dao.EmployeeInformationDaoImpl" />
	<bean id="employeeService" class="com.ojas.student.service.EmployeeServiceImpl" />
	<context:component-scan base-package="com.ojas.student.entity" />
	<bean class="com.ojas.student.utilities.EmailService" />
</beans>

